<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="master.xhtml">
	<ui:define name="title">
        .:Registro de Empleado:.
    </ui:define>

	<ui:define name="titleCont">
		<span>Registro de Empleado </span>
	</ui:define>

	<ui:define name="content">
		<h:form>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<h:outputLabel for="id" value="Id" styleClass="control-label" />

						<p:inputText autocomplete="off" id="id" styleClass="form-control"
							value="#{employeeController.employee.idEmployee}" required="true"
							maxlength="120"  />

						<h:outputLabel for="nombre" value="Nombre:"
							styleClass="control-label" />

						<p:inputText autocomplete="off" id="nombre"
							styleClass="form-control"
							value="#{employeeController.employee.nameEmployee}"
							required="true" maxlength="120" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<h:outputLabel for="adress" value="Dirección"
							styleClass="control-label" />

						<p:inputText autocomplete="off" id="adress"
							styleClass="form-control"
							value="#{employeeController.employee.adressEmployee}"
							required="true" maxlength="120"  />
					</div>
				</div>
			</div>

				<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<p:outputLabel for="cboDepartament" value="Departamento" />

						<p:selectOneMenu id="cboDepartament"
							value="#{employeeController.employee.departament}"
							converter="omnifaces.SelectItemsConverter">

							<f:selectItems 
							value="#{employeeController.listaDepartamentos}"
								var="d" 
								itemLabel="#{d.nameDepartament}" 
								itemValue="#{d}" />
						</p:selectOneMenu>


					</div>
				</div>
			</div>




			<div class="row">
				<div class="col-sm-2 text-right">
					<div class="form-group box-main-btn">

						<p:commandButton value="Grabar"
							actionListener="#{employeeController.insertarActualizar()}"
							styleClass="btn btn-primary " update=""
							action="listEmployee.xhtml" />
						<p:commandButton value="Cancelar" action="listEmployee.xhtml"
							immediate="true" styleClass="btn btn-default" ajax="false" />

					</div>
				</div>
			</div>

		</h:form>
	</ui:define>

	<ui:define name="footerCont">

	</ui:define>

</ui:composition>
</html>