<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="master.xhtml">

	<ui:define name="title">
        .:Listado de Empleados:.
    </ui:define>

	<ui:define name="titleCont">
		<span>Listado de Empleados </span>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<h:outputLabel for="nombres" value="Nombres:"
							styleClass="control-label" />

						<p:inputText autocomplete="off" id="nombres"
							styleClass="form-control"
							value="#{employeeController.employee.nameEmployee}"
							maxlength="120" />
					</div>
				</div>

				<div class="col-sm-8 text-right">
					<div class="form-group box-main-btn">
						<span style="display: block; height: 30px;"></span>
						<p:commandButton value="Limpiar" update="lstEmployees"
							actionListener="#{employeeController.limpiarEmpleado()}"
							styleClass="btn btn-default" ajax="false" />

						<p:commandButton value="Buscar" update="lstEmployees"
							actionListener="#{employeeController.buscarEmployeeNombre()}"
							styleClass="btn btn-default btn-border" ajax="true" />

						<p:commandButton value="Nuevo"
							action="#{employeeController.nuevoEmpleado()}"
							styleClass="btn btn-primary" ajax="false" />

					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-12">
					<div class="form-group table-responsive box-table-class">

						<p:dataTable id="lstEmployees" var="employee"
							value="#{employeeController.listaEmpleados}" paginator="true"
							paginatorPosition="top" rowsPerPageTemplate="10,20,30,40,50"
							rows="10" styleClass="table table-bordered"
							emptyMessage="No existen registros" rowIndexVar="item"
							style="margin-bottom:0">

							<p:column headerText="Item" style="width:40px;text-align:center">
								<h:outputText value="#{item + 1}" />
							</p:column>

							<p:column headerText="Id">
								<h:outputText value="#{employee.idEmployee}" />
							</p:column>

							<p:column headerText="Nombre">
								<h:outputText value="#{employee.nameEmployee}" />
							</p:column>

							<p:column headerText="Dirección">
								<h:outputText value="#{employee.adressEmployee}" />
							</p:column>

							<p:column headerText="Departamento">
								<h:outputText value="#{employee.departament.nameDepartament}" />
							</p:column>
							<p:column headerText="Operación">
								<h:commandLink action="listEmployee" value="Eliminar"
									actionListener="#{employeeController.eliminar(employee)}" />
							</p:column>
							<p:column headerText="Operación">
								<h:commandLink action="employee" value="Actualizar"
									actionListener="#{employeeController.mostrar(employee)}" />
							</p:column>
						</p:dataTable>
					</div>

				</div>
			</div>


		</h:form>
	</ui:define>

	<ui:define name="footerCont">

	</ui:define>

</ui:composition>
</html>