<!DOCTYPE html>
<html lang="es" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<title><ui:insert name="title"></ui:insert></title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link
		href='https://fonts.googleapis.com/css?family=Roboto:400,300,500|Ubuntu+Condensed'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet name="css/bootstrap.min.css" />
	<h:outputStylesheet name="css/main_base.css" />
	<h:outputStylesheet name="css/font_ico.css" />
	<ui:insert name="headCont"></ui:insert>

</h:head>
<h:body>
	<nav class="navbar navbar-default navbar-fixed-top base_primary"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand"
					style="display: table; padding-top: 5px; padding-bottom: 5px;"><img
					src="resources/img/logo.png" alt="" height="50" /></a>
			</div>

		</div>
	</nav>


	<!--main-->
	<div class="container base_fondo_fff"
		style="min-height: 600px; border-radius: 4px; margin-top: 35px;">
		<div class="row">
			<!--left-->
			<div class="col-md-3" id="leftCol">
				<ul class="nav nav-stacked" id="sidebar">
					<li id="sidebar-1"><a href="panel.xhtml"><i
							class="icon-home"></i> Inicio</a></li>
					<li id="sidebar-2"><a href="listDepartament.xhtml"><i
							class="icon-user"></i> Departamento</a></li>
					<li id="sidebar-2"><a href="listEmployee.xhtml"><i
							class="icon-user"></i> Empleado</a></li>

				</ul>
			</div>
			<!--/left-->

			<!--right-->
			<div class="col-md-9" style="padding-right: 30px">
				<h2 id="sec0" class="title-style">
					<ui:insert name="titleCont">Titulo</ui:insert>
				</h2>

				<!-- seccion para el contenido -->
				<ui:insert name="content">
				</ui:insert>

			</div>
			<!--/right-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->

	<ui:insert name="footerCont"></ui:insert>

</h:body>
</html>