 
 <ui:composition template="master.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="title">
        .:Listado de Tabla :.
    </ui:define>

    <ui:define name="titleCont">
        <span>Inicio </span>
    </ui:define>

    <ui:define name="content">
		<h:form>
			Bienvenido!!! a IO Visor Project
		</h:form>
    </ui:define>

    <ui:define name="footerCont">
        
    </ui:define>
</ui:composition>